<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pose Estimation with Flask</title>
    <script>
        function startCamera() {
            fetch('/start_video').then(response => response.text()).then(data => {
                console.log(data);
                document.getElementById("video-frame").src = "/video_feed";
            });
        }

        function stopCamera() {
            fetch('/stop_video').then(response => response.text()).then(data => {
                console.log(data);
                document.getElementById("video-frame").src = "";
            });
        }
    </script>
</head>
<body>
    <h1>Live Pose Estimation</h1>
    <div>
        <button onclick="startCamera()">Start Camera</button>
        <button onclick="stopCamera()">Stop Camera</button>
    </div>
    <div>
        <img id="video-frame" src="" width="50%"/>
    </div>
</body>
</html>
